*
{
    padding: 0px;
    margin: 0px;
}

input
{
  color: rgb(102, 102, 102);
}


.cell input.active
{
  border-color: rgb(141, 177, 255);
}

.cell input.succeeded
{
  border-color: rgb(120, 255, 0);
}

body
{
    background-image: url('background3.png');
    background-size: 100%;
  
}

#nav-bar
{
    background-color: rgb(49, 155, 255);
    text-align: center;
    opacity: 0.9;
}

#nav-bar h2
{
  position: absolute;
  left: 2px;
  color: white;
  padding: 15px 10px;
  font-style: italic;
  font-size: 20px;
}

.btn
{
    border: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    color:white;
    font-weight: bold;
    background-color: rgb(49, 155, 255);
    font-size: 20px;
    cursor: pointer;
}

.btn-not-allow
{
    border: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    color:white;
    background-color: rgb(255, 37, 37);
    font-weight: bold;
    font-size: 20px;
    cursor: not-allowed;
}


#nav-bar li
{
    display: inline;
}

.btn:hover
{
    background-color: rgb(0, 81, 255);
    color: #fff;
    font-weight: 600;
}

.btn:active
{
  background-color: rgb(0, 81, 205);
}

#grid {
    margin: auto;
    border-collapse: collapse;
    width: 378px;
    height: 395px;
    border: 3px solid rgb(0, 255, 255);
}

.cell input {

  opacity: 0.9;
    display: inline-block;

    border: 5px solid rgb(0, 255, 255);
    width: 40px;
    height: 40px;

    text-align: center;
    font-size: 30px;
}

table {
    margin:1em auto;
  }
  td {
    height:30px;
    width:30px;
    border:1px solid rgb(155, 155, 255);
    text-align:center;
  }
  td:first-child {
    border-left:solid rgb(155, 155, 255);
  }
  td:nth-child(3n) {
    border-right:solid rgb(155, 155, 255) ;
  }
  tr:first-child {
    border-top:solid rgb(155, 155, 255);
  }
  tr:nth-child(3n) td {
    border-bottom:solid rgb(155, 155, 255);
  }

  #main
  {
    margin-top: 60px;
  }



  /* Drop down menu */
  /* Drop down menu */
  /* Drop down menu */


  .select-box {
    display: flex;
    width: 100px;
    flex-direction: column;
  }
  
  .select-box .options-container {
    /* background: #2f3640; */
    background: rgb(49, 155, 255);
    color: #f5f6fa;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;
  
    order: 1;
  }
  
  .selected {
    /* background: #2f4031; */
    /* border-radius: 8px; */
    /* margin-bottom: 8px; */
    color: #f5f6fa;
    position: relative;
  
    order: 0;
  }
  
  .selected::after {
    content: "";
    background: url("arrow-down.svg");
    background-size: contain;
    background-repeat: no-repeat;
    /* background-color: black; */
  
    position: absolute;
    height: 100%;
    width: 22px;
    right: 0px;
    top: 5px;
  
    transition: all 0.4s;
  }
  
  .select-box .options-container.active {
    max-height: 240px;
    opacity: 1;
    /* overflow-y: scroll; */
  }
  
  .select-box .options-container.active + .selected::after {
    transform: rotateX(180deg);
    top: -6px;
  }
  
  /* .select-box .options-container::-webkit-scrollbar {
    width: 8px;
    background: #ff0022;
    border-radius: 0 8px 8px 0;
  } */
  
  /* .select-box .options-container::-webkit-scrollbar-thumb {
    background: #525861;
    border-radius: 0 8px 8px 0;
  }  */
  
  .select-box .option,
  .selected {
    /* padding: 12px 24px; */
    cursor: pointer;
  }
  
  .select-box .option:hover {
    /* background: #574144; */
    background: rgb(0, 81, 255);
  }
  
  .select-box label {
    cursor: pointer;
  }
  
  .select-box .option .radio {
    display: none;
  }

  /* Drop down menu */
  /* Drop down menu */
  /* Drop down menu */